# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.settings/
/.project
/target/
/.classpath
/test-output/
*.db
*.iml
/karawana.iml
some !/src/test/java/karawana/repository/UserRepositoryTest.java
/vue/node_modules/
/vue/vue.iml
