<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} # %p # %10C{1}.%.20M{1}.%L ### %m #(%r ms)%n" />
        </Console>
    </Appenders>

</Configuration>