<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />

<head>
<title>GROW Coaching</title>

<meta name="author" content="Piotr Kowalski" />
<meta name="keywords"
	content="" />
<meta name="description"
	content="" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--  Analytics Verify -->
<meta name="google-site-verification"
	content="b5zlt27ykabiFZ2b8XQRw7tV34WeFtPlXXVMv4FFw0o" />

<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />


<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700'
	rel="stylesheet" type='text/css' />

<!-- ADD -->
<link href="<c:url value="/css/style.css"/>" rel="stylesheet" type="text/css" media="all" />
<link href="<c:url value="/css/popovers.css"/>" rel="stylesheet" type="text/css" media="all" />



<script type="text/javascript" src="<c:url value="/js/jquery-2.1.3.min.js"/>"></script>
<script type="text/javascript">
	var ctx = "${pageContext.request.contextPath}"
	$.backstretch(ctx + "/css/style/images/bg/7.jpg");
</script>
<!-- End Footer -->


<!--  ADD -->
<script type="text/javascript" src="<c:url value="/js/skrypty.js"/>">
</script>

<!-- 
<script type="text/javascript" src="<c:url value="/js/analytics.js"/>"></script>
 -->

<script>
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-49363543-2' ]);
	_gaq.push([ '_trackPageview' ]);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>


</head>
<body>


	<!--  AJAX indicator -->
	<div class="alert-success alert" id="richAlert"></div>




	<div class="scanlines"></div>

	<!-- Begin Header -->
	<div class="header-wrapper opacity">
		<div class="header">
			<!-- Begin Logo -->
			<div class="logo">
				<a href="/">
					<h1>GROWcoaching.eu</h1>
				</a>
			</div>
			<!-- End Logo -->
			<!-- Begin Menu -->
			<div id="menu-wrapper">
				<div id="menu" class="menu">
					<ul id="tiny">

						<li class="active"><a href="/about">About</a>
							<ul>
								<li><a href="/about">About the site</a></li>
							</ul></li>

						<li><a href="/contact">Contact</a>
							<ul>
								<li><a href="/contact">Contact</a></li>
							</ul></li>

						<li><a href="/suggestion">Sugesstion / LogBook</a>
							<ul>
								<li><a href="/suggestion">Leave an idea !!</a></li>
							</ul></li>

					</ul>
				</div>
			</div>
			<div class="clear"></div>
			<!-- End Menu -->
		</div>
	</div>
	<!-- End Header -->





</body>
</html>
