<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<body>
    <div class="container" layout:fragment="content">
    
    
    This is the main page using layout
        <!-- Begin Wrapper -->
        <div class="wrapper">
            <!-- Begin Intro -->
            <div class="intro">
                <h1 class="text-center">GROWcoaching.eu v0.5 (still in dev
                    mode)</h1>
                   <h3 id="clearChart" style="float: right">Clear fields</h3>
                <h3 id="loadExample" style="float: right">Load example
                    &nbsp;&nbsp;&nbsp;</h3>
            </div>
            </div>
            
            
    </div>
</body>
</html>